body {
	background: url('../images/background_pattern.png') #ffffff; 
	border: #dddddd;

	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
}

header {
	background: #ffffff;
	border: #cccccc;
}

footer {
	background: #666666;
}

h1, h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

#your_name {
	height: 90px;
	width: 250px;
	float: left;
}